ul.Navegacion(menu="")
	li.Navegacion-Item
		a(href="#",ui-sref="heroe").Navegacion-Link.is-Active 
			span Inicio
	li.Navegacion-Item
		a(href="https://davidvelavi.github.io/cv/").Navegacion-Link 
			span Autor

